.FeedContent {
  max-width: 700px;
  margin: 0 auto;
}

.FeedToggleButtons {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.FeedButton {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.3s ease;
}

.PostCard {
  margin-bottom: 1rem;
}

.PeopleSidebar {
  margin-top: 2rem;
}

.PersonItem {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
