.CardWrapper {
  border-radius: 5px;
  overflow: hidden;
  max-width: 700px;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
}

.AvatarPlaceholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
}

.PostTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.PostContent {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}

.ViewFullPostWrapper {
  margin-top: 0.5rem;
}

.ViewFullPostLink {
  font-size: 0.9rem;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.ViewFullPostLink:hover {
  color: #300e82;
  text-decoration: none;
}

.PostFooter {
  display: flex;
  justify-content: space-around;
  padding: 0.8rem 0;
  border-top: 1px solid #e0e0e0;
  color: #555;
  font-size: 0.9rem;
}

.PostChildren {
  border-top: 1px solid #eee;
  padding-top: 1rem;
  margin-top: 1rem;
}

.ActionItem {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: inherit;
  text-decoration: none;
}

.ActionItem:hover {
  color: inherit;
  text-decoration: none;
}

.Clickable {
  cursor: pointer;
}

.TagSection {
  margin-bottom: 0.5rem;
}

.PostImage {
  width: 100%;
  object-fit: cover;
}
