/* Global styles for app */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ----------- White burger menu icon for Navbar ----------- */
.custom-toggler {
  border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* ----------- Responsive Layout ----------- */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  h1,
  h2,
  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  p,
  li,
  .btn,
  input,
  select {
    font-size: 0.9rem;
  }
}
